
<% @categories.each do |d|%>
<section class="categories-show">
  <header class="page-header">
    <h1>
      <table>
        <td>
          <tr>
            <%= link_to d.name, d %>
          </tr>
        </td>
      </table>
    </h1>
  </header>
</section>
<%end%>

<div>
<%= link_to 'Create new category', '/admin/categories/new', class: 'btn btn-primary'%>
</div>


