<h1>About us</h1>
<div>
  <h2>Welcome to the Jungle</h2>
  <hr>
    <img src="https://www.pluggedin.com/wp-content/uploads/2019/12/anchorman-the-legend-of-ron-burgundy.jpg" alt="chanel 2 news team"></img>
    <hr>
    <p>
  An online store where all your shopping dreams to true! We have it all from shoes that look like feet, to your very own electric chair!
    </p>
</div>
<hr>
