// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.email_input{
  width: 20%;
  margin-left: -5em;
}
.password_input{
  width: 20%;
  margin-left: -5em;
}
div.row.mb-3{
  padding-top: 1em;
}
